.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  border-right: 1px solid rgb(25, 25, 25);
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  filter: invert(1);
}

.sidebar-link:hover {
  filter: brightness(1.6);
  
  transform: scale3d(1.1, 1.1, 1);
  transition: transform 0.3s;
  filter: invert(1);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}
